@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Railey';
    src: url('../padariaDeliciaPao/fonts/Railey-PersonalUse.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

p {
    margin-bottom: 0px !important;
}

/* header {
    background-color: #FFBD59;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#logo {
    width: 70px;
}

nav{
    display: flex;
    gap: 15px;
}

.nav-items {
    text-decoration: none;
    color: black;
    font-weight: 500;
} */

/* Formatação Boostrap Header */
.navbar {
    background-color: #FFBD59 !important;
}

.navbar-brand {
    margin-top: 5px;
    font-family: 'Railey', Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#nav-link:hover {
    color: #64D448;
}

.bi-whatsapp {
    margin-left: 5px;
}

.btn-outline-success {
    border: #64D448 1px solid !important;
    color: #64D448;
}

.btn-outline-success:hover {
    color: white;
    background-color: #64D448;
}

#carrossel {
    padding: 50px 10px 50px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.w-100 {
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 5px;
}

#title {
    font-family: 'Railey', sans-serif;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    margin: 30px 0px 20px;
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.subtitle {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Railey', sans-serif;
    text-align: start;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0px 15px 20px 15px;
    flex-wrap: wrap !important;
}

.card {
    width: 15rem !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-text {
    font-size: 12px;
    margin-bottom: 1em !important;
}

.btn-primary {
    background-color: #FFBD59 !important;
    border: 0 !important;
    width: 100% !important;
}

/* #subtitle-01 {
    /* background-color: #F5E4C3;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(245,228,195) 55%, rgba(245,228,195))
}

#card-container-01 {
    background-color: #F5E4C3;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(245,228,195) 55%, rgba(245,228,195));
} */

#subtitle-02 {
    text-align: end;
    /* color: white;
    background-color: rgb(68, 68, 68);
    background: linear-gradient(rgba(245,228,195, 0.5), rgba(68,68,68) 10%, rgba(68,68,68)) */
}

/*#card-container-02 {
    background-color: rgb(68, 68, 68);
}*/

#btn-02 {
    background-color: rgb(68, 68, 68) !important;
}

/*#subtitle-03 {
    background-color: #F9D97E;
}

#card-container-03 {
    background-color: #F9D97E;
}*/

#btn-03 {
    background-color: #ff9137 !important;
} 

footer {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFBD59;
}

#footer-logo {
    width: 100px;
    padding: 10px;
}

#footer-form-button {
    background-color: #ff9137 !important;
}

#form {
    margin: 10px;
}

@media (max-width: 768px) {
    .card-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 525px) {
    footer {
        flex-direction: column;
    }
}